alabaster==0.7.12
altgraph==0.17.2
Babel==2.9.1
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.4
cycler==0.11.0
docutils==0.17.1
fonttools==4.28.5
Foundations==2.0.7
future==0.18.2
idna==3.3
imagesize==1.3.0
Jinja2==3.0.3
kiwisolver==1.3.2
linecache2==1.0.0
Manager==2.0.3
MarkupSafe==2.0.1
matplotlib==3.5.1
mplcursors==0.5.1
numpy==1.21.5
ordereddict==1.1
packaging==21.3
pandas==1.3.5
pefile==2021.9.3
Pillow==9.0.0
Py-OMA==1.4
Pygments==2.11.1
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.5
pyparsing==3.0.6
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5Designer==5.14.1
python-dateutil==2.8.2
pytz==2021.3
pywin32-ctypes==0.2.0
requests==2.27.0
scipy==1.7.3
seaborn==0.11.2
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.3.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.26.7